@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("img/bg.png");
    background-color: #262626;
    margin: 0;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    border: 1px solid rgba(255, 255, 255, 0.089);

    & .title {
        font-family: "Concert One", sans-serif;
        font-size: 30px;
    }
}

#timer {
    font-family: "Concert One", sans-serif;
    text-shadow: #72727285 0px 0px 9px;
    font-weight: bold;
    font-size: 2.4em;
    color: #262626;
    text-align: center;
}